.nav {
  background-color: rgba(255, 255, 255, 0.616);
  box-shadow: 0px 0px 10px black;
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 50vh;
  align-items: center;
  padding: 10px 0 10px 15px;
  z-index: 10;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
}

.Awards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.partners-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 40vh;
  background-color: rgba(87, 87, 87, 0.493);
}

@media (max-width: 960px) { 
  .cards {
    gap: 0px;
  }
}